<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/workspace/every_year/whisper_2021"
        style="background-image: linear-gradient(60deg, #BD96A4, #BD96A4a1);line-height: initial;">生活记录本</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">尽情在此吐槽吧</span>
    </div>
  </div>
</div>


<!--  -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/workspace/sundry/ball"
        style="background-image: linear-gradient(180deg, #ff8500, #ffcd04)">不分离的小球们</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">永不分离<br>进入后需要刷新页面</span>
    </div>
  </div>
</div>
<!--  -->


<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="随意添加你想要的网址"
        style="background-image: linear-gradient(120deg, #0084ff, #0349bb)">要添加的网址</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">网站简短说明</span>
    </div>
  </div>
</div>

<!-- add 知乎 -->

<!-- add 知乎 -->