<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/workspace/sundry/error_message"
        style="background-image: linear-gradient(120deg, #feb692, #ea5455)">EOL测试问题</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">命令报错及解决办法</span>
    </div>
  </div>
</div>



<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/workspace/every_year/whisper_2021"
        style="background-image: linear-gradient(60deg, #BD96A4, #BD96A4a1);line-height: initial;">EOL硬件问题</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">命令报错及解决办法</span>
    </div>
  </div>
</div>


<!--  -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/workspace/sundry/ball"
        style="background-image: linear-gradient(120deg, #fff720, #3cd500)">电池基本介绍</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">趣味页面<br>进入后需要刷新页面</span>
    </div>
  </div>
</div>
<!--  -->



<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/workspace/sundry/404"
        style="background-image: linear-gradient(120deg, #5e1ec5, #b6afca)">创新及快修策略</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">可以将你不想被看到的页面导航至此页</span>
    </div>
  </div>
</div>
