<head>
	<meta charset="UTF-8">
	<title>制作发光文字</title>
	<style type="text/css">
		.box{
		   margin:20px auto; /*设置元素外边距*/
		   text-align: center;
		}
		.shine{
		   font-size:3em; /*设置字体大小*/
		   font-weight:bolder; /*设置字体粗细*/
		   color:#ffffff; /*设置文字颜色*/
		   cursor:pointer; /*设置光标形状*/
		   -webkit-animation:light 1.5s ease-in-out infinite alternate;/*设置动画*/
		}
		@-webkit-keyframes light{/*创建动画*/
		   from{
		       text-shadow:0 0 10px #f5f3f3,
		                      0 0 20px #fff,
		                      0 0 30px #fff,
		                      0 0 40px #0000FF,
		                      0 0 70px #0000FF,
		                      0 0 80px #0000FF,
		                      0 0 100px #0000FF
		   }
		   to{
		       text-shadow:0 0 5px #ffffff,
		                      0 0 10px #fff,
		                      0 0 15px #fff,
		                      0 0 20px #0000FF,
		                      0 0 35px #0000FF,
		                      0 0 40px #0000FF,
		                      0 0 50px #0000FF
		   }

		}
	</style>
</head>
<body>
	<div class="box">
   		<a class="shine">General Commands of EOL Test</a>
	</div>
</body>

<p>This is the detailed description of every test step of EOL test sequence</p>

<head>
    <link rel="stylesheet" type="assets/css" href="whisper.css">
</head>
<table align="center">
    <tr> 
        <td><div class="button1"><a href="{{site.baseurl}}/workspace/command/40100">40010</a></div></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40012">40012</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40020">40020</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40021">40021</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40022">40022</a></button></td>
    </tr>
    <tr> 
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40023">40023</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40024">40024</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40041">40041</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40042">40042</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40043">40043</a></button></td>
    </tr>
    <tr> 
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40044">40044</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40046">40046</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40060">40060</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40061">40061</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40070">40070</a></button></td>
    </tr>
    <tr>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40081">40081</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40099">40099</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40100">40100</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40150">40150</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40092">40092</a></button></td>
    </tr>
        <tr>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40202">40202</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40301">40301</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40401">40401</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40062">40062</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40423">40423</a></button></td>
    </tr>
    <tr>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40432">40432</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40501">40501</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40601">40601</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40701">40701</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40001">40001</a></button></td>
    </tr>
    <tr>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40802">40802</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/40902">40902</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/41002">41002</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/41110">41110</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/41103">41103</a></button></td>
    </tr>
    <tr>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/41201">41201</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/41300">41300</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/41400">41400</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/41500">41500</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/41700">41700</a></button></td>
    </tr>
    <tr>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/41600">41600</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/41800">41800</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/41850">41850</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/41900">41900</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/42000">42000</a></button></td>
    </tr>
    <tr>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/42100">42100</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/42202">42202</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/42301">42301</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/42211">42211</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/42402">42402</a></button></td>
    </tr>
    <tr>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/42501">42501</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/42550">42550</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/42600">42600</a></button></td>
        <td><button class="button1"><a href="{{site.baseurl}}/workspace/command/49999">49999</a></button></td>
    </tr>
</table>
